references/
src/ad_hoc_diffractometer/_version.py
docs/build/
docs/_build/
docs/source/autoapi/
.coverage*
htmlcov/
.pytest_cache/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg
*.log
*.bak
*.swp
.DS_Store
.idea/
.vscode/
.loglogin
dev_*
dev_*/
.doctrees/
